  @font-face {
    font-family: supermarket;
    src: url(../fonts/supermarket.ttf);
}
@font-face {
    font-family: SPACEPORT;
    src: url(../fonts/SPACEPORT.OTF);
}
html, body {
    margin: 0;
}
.content {
    height: 100%;
    min-height: 100%;
    /*for mozilla*/
}
html>body .content {
    height: auto;
}
.lb-bg {
    background-color: lightblue;
}
.section {
    text-align: center;
    background-size: cover;
}
.section h1 {
    font-family: SPACEPORT;
    font-size: 8em;
}
.section h2 {
    font-family: supermarket;
    font-size: 4em;
}
.section h3 {
    font-family: supermarket;
    font-size: 2em;
}
#color1 {
    background: linear-gradient(90deg, white 50%, #0854C7 50%);
    background: -webkit-linear-gradient(90deg, white 50%, #0854C7 50%);
}
#cap {
    font-family: supermarket;
    font-size: 4em;
}
.section.first-sec {
    background-color: aliceblue;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 50px solid #0854C7;
}
p {
    font-family: supermarket;
    font-size: 1.5em;
}
.row {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
#topPic {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
#text {
    text-align: justify;
    text-indent: 3em;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #FFF;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.lb-tri {
    border-top: 100px solid lightblue;
}
.sec2-img {
   padding: 50px;
}
.sec2-img img {
   margin: 20px 20px 0 0;
   cursor: pointer;
   width: 150px;
}
@media screen and (min-width: 1166px) {
    #smallMap {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto;
    }

}
@media screen and (min-width: 1200px) {
   .sec2-img ul li {
      display: inline;
   }
}
@media screen and (max-width: 1199px) {

   #edu::before{
      content: 'EDUCATION';
      font-size: 18px;
      margin-right: 50px;
      line-height: 150px;
   }
   #ser::after{
      content: 'SERVICES';
      font-size: 18px;
      margin-left: 50px;
   }
   #per::before{
      content: 'PERSONS';
      font-size: 18px;
      margin-right: 50px;
   }
   #rule::after{
      content: 'RULES';
      font-size: 18px;
      margin-left: 50px;
   }
   #map::before{
      content: 'MAP';
      font-size: 18px;
      margin-right: 50px;
   }
   #shirt::after{
      content: 'SHIRT';
      font-size: 18px;
      margin-left: 50px;
   }
   #secur::before{
      content: 'SECURITY';
      font-size: 18px;
      margin-right: 50px;
   }
   #car::after{
      content: 'CAR PARK';
      font-size: 18px;
      margin-left: 50px;
   }
   #acti::before{
      content: 'ACTIVITY';
      font-size: 18px;
      margin-right: 50px;
   }
